body{
    background-image: url(../img/local/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Indie Flower', cursive;
}



.paddingdemort{
    margin: 0 1.5%;
    
}
.hovertropbeau{
    transition-duration: 1s;
}
.hovertropbeau:hover{ 
    transform: scale(1.1);
}
